.navSection {
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #989898;
}
.navList {
    display: flex;
    list-style: square;
}
.navItem:not(:last-child) {
    margin-right: 40px;
}
.authList {
    margin-left: auto;
    display: flex;
    list-style: none;
}
.authItem:not(:last-child) {
    margin-right: 40px;
}
.link {
    color: #989898;
    text-decoration: none;
}
.active {
    composes: link;
    color: #282c34;
}